<header>
    <a href="/" class="logo">
        <img src="/assets/main-logo.svg" alt="Milledoni" class="m">
        <img src="/assets/rest-text-logo.svg" alt="" class="illedoni" hidden>
    </a>
    <h1 class="slogan">{{ slogan }}</h1>
        <nav>
            <a href="/mylist" class="list-button">
                <p id="list-button-text">Create Your List</p>
                <img src="/assets/save-icon.svg" alt="" class="save-icon">
            </a>
            <a href="/profile" class="profile-button">
                <img src="/assets/profile-icon.svg" alt="Profile">
            </a>
        </nav>
</header>
<a href="/savedgifts" class="REMOVE-LATER">View Saved Items</a>