<header>
    <div class="logo">
        <a href="/" class="logo">
            <img src="/assets/main-logo.svg" alt="Milledoni" class="milledoni-logo" height="56" width="44">
        </a>
        <img src="/assets/rest-text-logo.svg" alt="" class="milledoni-logo-tekst" hidden height="35" width="220">
    </div>
    <p class="slogan">{{ slogan }}</p>
        <nav>
            <a href="/savedgifts" class="list-button">
                <p class="saved-gifts-button-animation" id="list-button-text">My Saved Gifts</p>
                 <img src="/assets/gift-empty.svg" alt="Gift" class="icon"/>
                <img src="/assets/save-icon.svg" alt="" class="save-icon" height="15" width="19">
            </a>
            <a href="/profile" class="profile-button">
                <img src="/assets/profile-icon.svg" alt="Profile" height="23" width="25">
            </a>
        </nav>
</header>

