<header>
    <div class="logo">
        <a href="/" class="logo">
            <img src="/assets/main-logo.svg" alt="Milledoni" class="milledoni-logo">
        </a>
        <img src="/assets/rest-text-logo.svg" alt="" class="milledoni-logo-tekst" hidden>
    </div>
    <p class="slogan">{{ slogan }}</p>
        <nav>
            <a href="/savedgifts" class="list-button">
                <p id="list-button-text">My Saved Gifts</p>
                <img src="/assets/save-icon.svg" alt="" class="save-icon">
            </a>
            <a href="/profile" class="profile-button">
                <img src="/assets/profile-icon.svg" alt="Profile">
            </a>
        </nav>
</header>
