{% render 'head.liquid' %}

{% render 'header.liquid' %}

<main>
<picture>

</picture>

<article>
<h1>dynamische naam</h1>
<h2>subtekset</h2>
<p>prijs</p>
<p>dynamische description</p>


</article>

<article>
    <picture>

    </picture>
    <h3>Why this gift</h3>
    <p></p>

    <picture>

    </picture>
    <h3>Good to know</h3>
    <p></p>

</article>


<section>

</section>

<section>

</section>

<section>

</section>

</main>


{% render 'foot.liquid' %}