/* -------------------------------- MAIN (Voor Homepage)----------------------------------- */
main.homepage {
    @media (min-width: 0px) {
        @supports (display: grid){
            display: grid;
        }
    }

    @media (min-width: 1240px) {
        @supports (display: grid){
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 0px 0px;
            position: relative;
            min-height: 100vh;
        }
    }

    /* -------------------------------- MAIN CONTENT ----------------------------------- */
    section.main-content {
        margin-top: var(--header-height);
        /* boven | rechts | onder | links */
        padding: 6px 15px 15px 15px;
        gap: 2px;
        background-color: var(--results-tab-background-color);
        border-radius: 20px;
        margin-bottom: 80px; /* Ruimte voor vaste chat-tab op mobiel */

        @media (min-width: 550px) {
            @supports (display: grid){
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }

        @media (min-width: 744px) {
            @supports (display: grid){
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }

        @media (min-width:820px) {
            @supports (display: grid){
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }
        }

        @media (min-width: 1240px) {
            margin-bottom: 0; /* Reset margin op desktop */
            display: grid;
            @supports (display: grid){
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
        
        .gift-box {
            position: relative;
            background-color: var(--primary-color);
            box-shadow: 5px 3px 10px rgb(0 0 0 / 0.2);
            margin-top: 10px;
            padding: 10px;

            @media (min-width: 0px){
                width: 250px;
                height: 360px;
            }   

            @media (min-width: 1060px){
                width: 310px;
                height: 467px;
            }   
        }
            
        form {
            /* Absoluut voor betere toegankelijkheid */
            position: absolute;
            top: 5px;
            left: 5px;
        }

        img.cover-image {
            width: fit-content;
            padding: 3px;
            display: block;
            margin: 0 auto;
        

            @media (min-width: 0px){
                height: 240px;
                width: 240px;
            }
                
            @media (min-width: 1060px){
                height: 295px;
                width: 295px;  
            }
        }

        .bottom-row {
            margin-top: 10px;

            @media (min-width: 0px){
                display: none;
            }

            @media (min-width: 1060px){
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin-left: -10px;
            }

            img.user-icon-1,
            img.user-icon-4 {
                width: 38px;
                height: 38px;
            }

            img.user-icon-4 {
                margin-left: -30px;
            }

            img.gift-icon {
                width: 30px;
                height: 30px;
                margin-right: 5px;
            }
        }
    }
}


p{
    span{
        margin-right: 5px;
    }
}

/* -------------------------------- CREATE LIST CARD ----------------------------------- */

.create-list-card{
    border-radius: 15px;
    background-color: var(--create-list-card);
    margin-top: 10px;
    box-shadow: 5px 3px 10px rgb(0 0 0 / 0.2);
    padding: 10px;
    animation: rotate 1.4s infinite ease-in-out;

    @media (min-width: 0px){
        display: none;
    }

    @media (min-width: 550px){
        display: flex;
        position: relative;
        justify-content: center;
        width: 250px;
        height: 360px;
    }

    @media (min-width: 1060px){
        width: 310px;
        height: 467px;
    }
    
    p:first-of-type{
        font-size: var(--h4);
        font-weight: var(--semi-bold);
        color: var(--primary-color);
        text-align: center;
    }
    
    p:nth-of-type(2){
        position: absolute;
        bottom: 5%;
        font-size: var(--big-important-text);
        color: var(--primary-color);
        background-color: var(--second-button-background-color);
        padding: 10px;
        border-radius: 40px;
    }
    
    .flower{
        position: absolute;
        bottom: 20%;
        left: 10%;
        background: var(--flower-color);
        aspect-ratio: 1;
        clip-path: shape(from 75.4762724747% 50%, 
                   arc to 57.872601148% 74.229374948% of 18.5095954079% var(--clockwise), 
                   arc to 29.3892626146% 64.974577244% of 18.5095954079% var(--clockwise), 
                   arc to 29.3892626146% 35.025422756% of 18.5095954079% var(--clockwise), 
                   arc to 57.872601148% 25.770625052% of 18.5095954079% var(--clockwise), 
                   arc to 75.4762724747% 50% of 18.5095954079% var(--clockwise));
                   

        @media (min-width: 0px){
            width: 109px;
            height: 118px;
        }

        @media (min-width: 1060px){
            width: 139px;
            height: 148px;
        }

    }
    
    .woman{
        position: absolute;
        bottom: 30%;

        @media (min-width: 0px){
            width: 122px;
            height: 122px;
            left: 40%;
        }

        @media (min-width: 1060px){
            width: 162px;
            height: 162px;
            left: 35%;
            bottom: 35%;
        }
    }
}

/* -------------------------------- CREATE LIST:: ANIMATIE ----------------------------------- */

/* ------- CARD STANDALONE -------- */


@keyframes rotate {
  0%, 100% {
    rotate: 0deg;
  }
  25% {
    rotate: 2deg; 
  }
  75% {
    rotate: -2deg; 
  }
}

/* ------- FLOWER ANIMATION-------- */

.flowerAni {
    animation-name: flowerAni;
    animation-timing-function: ease-in;
    animation-duration: 0.95s;
    cursor: none;
}

@keyframes flowerAni{
  0%{
    rotate: 0deg;
    transform: scale(1);
  }
  100%{
    rotate: var(--random-degrees);
    transform: scale(60);
  }
}

/* ------- CARD HOVER WITH CLICK ANIMATION -------- */

.create-list-card:hover{
  background-color: var(--alt-text-color);
  border-color: black;
  cursor: pointer;
    p:first-of-type{
        color: black;
    }
    .woman{
        filter: blur(1px);
    }
}

.clicked{
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 0.4s;
  animation-iteration-count: 1;
}

@keyframes bounce {
  0%, 50%, 57%, 64% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.05, 0.9);
  }
  30% {
    transform: scale(0.9, 1.05);
  }
  100%{
    transform: scale(1, 1.5);
  }
}


