html, body {
    margin: 1vw;
    padding: 0;
    font-family: var(--font);
    background-color: var(--main-background-color);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-text-color);
}

body {
    /*----------------------------------- ALLE VARIABELEN --------------------------------------*/

    /* FONT TYPE */
    --font: 'Parkinsans', sans-serif;

    /* LETTER SIZES */
    --h1: 60px;
    --h2: 40px;
    --h3: 22px;
    --h4: 30px;

    --main-p: 16.6px;
    --big-text: 20px;
    --big-important-text: 24px;

    /* Font weight */
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 800;

    /* COLORS */
    --primary-color: #FEFCFA;
    --main-text-color: #000000;
    --alt-text-color: #FFFFFF;
    --main-background-color: #F6F5F5;
    --create-list-card: #868686;

    /* BUTTONS */
    --button-background-color: #FFFFFF;
    --second-button-background-color: #212121;

    /* HEADER HEIGHT */
    --header-height: 81.06px;

    /* MISC */
    --flower-color: #EAEAEA;
    --clockwise: large cw; /* Large clockwise, Je kan ook: Large (Of small) ccw (Counter Clock Wise)*/
    --random-degrees: 180deg;

    /*----------------------------------- VARIABELEN VOOR ALLE KNOPPEN EN ANDERE ELEMENTEN --------------------------------------*/

    h1 {
        font-size: var(--h1);
        font-weight: var(--bold);
    }

    p.slogan {
        font-size: var(--h3);
        margin: 0;
        font-weight: var(--medium);
        margin-top: 10px;
            @media (min-width: 0px) {
                display: none;
            }
            @media (min-width: 820px) {
                display: block;
            }
    }

    h2 {
        font-size: var(--h2);
    }

    h3 {
        font-size: var(--h3);
        margin: 0 0 5px 0;
        padding: 0;
    }

    p {
        font-size: var(--main-p);
        margin: 0;
    }
}

/* Margin top ter hoogte van de header die ervoor zorgt dat de content altijd wat ruimte heb*/
.main-content, .liked-gifts{
    margin-top: var(--header-height);
}

/*----------------------------------- HEADER STYLE, GELDIG VOOR ELKE PAGINA --------------------------------------*/
header {
    height: calc(2vw + var(--header-height));
    position: fixed;
    z-index: 1000;
    .logo{
        display: flex;
        align-items: center;
        @media (min-width: 820px) {
            margin-top: 7px;
        }
        .milledoni-logo{
            margin-right: 10px;
            height: 56px;
            width: 44px;
            @media (min-width: 0px) {
                margin-top: -10px;
            }
        }
        .milledoni-logo-tekst{
            margin-top: 20px;
            width: 220px;
            height: 35px;
            @media (min-width: 0px) {
                display: none;
            }
            @media (min-width: 1240px) {
                display: block;
            }
        }
    }
    nav {
        display: flex;
        position: fixed; 
        z-index: 1000; 
    }
    @media (min-width: 0px) {
        nav{
            top: calc(1vw + 3px);
            right: 10px; 
        }
        .rest {
            display: none;
        }
        .list-button {
            position: sticky;
            width: 33px;
            height: 33px;
            #list-button-text { /* Tekst is visueel niet te zien, maar bestaat nog wel. Display none haalt anders het element weg voor screen readers.*/
                height: 1px;
                overflow: hidden;
                position: absolute;
                white-space: nowrap;
                width: 1px;
                z-index: 1;
            }
            .save-icon{
                 margin: 0;
                 z-index: 2;
            }
        }
    }
     @media (min-width: 450px) {
        nav{
            top: calc(1vw + 5px);
            right: 10px; 
        }
    }
    @media (min-width: 600px) {
        nav{
            top: calc(1vw + 8px);
            right: 10px; 
        }
    }
    @media (min-width: 820px) {
        width: 100%;
        background-color: var(--main-background-color);
        top: 0;
    }

    @media (min-width: 900px) {
        nav{
            top: calc(1vw + 10px);
            right: 10px; 
        }
    }
    @media (min-width: 1100px) {
        nav{
            top: calc(1vw + 15px);
            right: 10px; 
        }
    }
    @media (min-width: 1240px) {
        background-color: transparent;
        nav{
            top: calc(1vw + 15px);
            right: 25px;
        }
        .rest {
            display: inline-block;
        }
        .list-button {
            width: 180px;
            height: 33px;
            #list-button-text {
                display: inline-block;
                font-weight: var(--regular);
                height: auto;
                width: auto;
                overflow: visible;
                position: static;
            }
            .save-icon{
                margin-left: 10px;
            }
        }
    }
}

/*----------------------------------- BUTTONS --------------------------------------*/

/* ALGEMENE BUTTON STYLES */

.add-list-button, .remove-list-button {
    font-family: var(--main-font);
    font-weight: var(--semi-bold);
    margin: 5px;
    background-color: var(--button-background-color);
    box-shadow: 5px 3px 10px rgb(0 0 0 / 0.2);
    width: 28px;
    height: 28px;
}

.list-button, .profile-button {
    font-family: var(--main-font);
    font-weight: var(--semi-bold);
    margin: 5px;
    background-color: var(--button-background-color);
    box-shadow: 5px 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 50px;
}

/* Andere buttonstijlen */

.list-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E8E8E8;
    border-radius: 50px;
    padding: 5px;
    img {
        width: 15px;
        height: 19px;
    }
}

.profile-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #E8E8E8;
    height: 43px;
    width: 43px;
    img {
        width: 23px;
        height: 25px;
    }
}


/*----------------------------------- BUTTON ANIMATIE (VOOR HEADER) --------------------------------------*/

.list-button:hover, .profile-button:hover {
    color: var(--alt-text-color);
    background-color: var(--second-button-background-color);
    animation: rotate infinite 0.3s ease-in-out;
    img{
        filter: brightness(1000);
    }
}


/*----------------------------------- FLOWER --------------------------------------*/
    .flower{
        position: absolute;
        bottom: 20%;
        left: 10%;
        background: var(--flower-color);
        aspect-ratio: 1.07;
        clip-path: shape(from 44.14% 30.08%,curve to 30.6% 13.46% with 44.14% 30.08%/42.2% 13.65%,
            curve to 10.21% 15.99% with 18.98% 13.28%/10.21% 15.99%,
            curve to 4.57% 32.37% with 10.21% 15.99%/0.94% 26.22%,
            curve to 16.4% 44.5% with 8.2% 38.52%/16.4% 44.5%,
            line to 4.18% 53.3%,curve to 0.34% 79.16% with 4.18% 53.3%/-1.4% 73.77%,
            curve to 22.06% 95.65% with 2.08% 84.56%/16.9% 96.95%,
            curve to 35.63% 81.73% with 27.2% 94.36%/35.37% 85.78%,
            curve to 46.17% 98% with 35.89% 77.68%/36.75% 95.02%,
            curve to 80.63% 96.8% with 55.58% 100.98%/78.36% 100.68%,
            curve to 86.36% 79.26% with 82.91% 92.92%/89.57% 84.2%,
            curve to 74.84% 62.5% with 83.16% 74.31%/74.84% 62.5%,
            curve to 96.65% 69.1% with 74.84% 62.5%/95.41% 72.49%,
            curve to 99.87% 51.34% with 97.88% 65.71%/100.63% 54.9%,
            curve to 92.84% 35.58% with 99.1% 47.77%/98.37% 36.06%,
            curve to 70.42% 38.24% with 87.31% 35.09%/70.42% 38.24%,
            curve to 87.29% 27.99% with 70.42% 38.24%/88.41% 33.79%,
            curve to 83.38% 10.86% with 86.17% 22.18%/87.37% 11.79%,
            curve to 59.81% 0.03% with 79.4% 9.92%/65.93% -0.59%,
            curve to 45.54% 9.23% with 53.71% 0.64%/45.9% 4.02%,
            curve to 44.14% 30.07% with 45.18% 14.44%/44.14% 30.07%,
            vline to 30.08%,close);

        @media (min-width: 0px){
            width: 109px;
            height: 118px;
        }

        @media (min-width: 1060px){
            width: 139px;
            height: 148px;
        }

    }

/* -------------------------------- ANIMATIE: VIEW TRANSITION (GIFT CARD) ----------------------------------- */

@view-transition {
    navigation: auto;
  }

/* Selecteerd alle kaartjes*/
::view-transition-old(card-*) {
    animation: 400ms cubic-bezier(0.3, 0.7, 0.2, 1) both slide-out-up;
}
  
::view-transition-new(main-image),
::view-transition-new(description) {
    animation: 500ms cubic-bezier(0.3, 0.7, 0.2, 1) both slide-in-up;
}
  
@keyframes slide-out-up {
    to {
        transform: translateY(-150vh) scale(1.2);
    }
}
  
@keyframes slide-in-up {
    from {
        transform: translateY(30px) scale(0.95);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* -------------------------------- AMIMATIE: VIEW TRANSITION (FLOWER) ----------------------------------- */


html:active-view-transition-type(home-to-profile),
html:active-view-transition-type(profile-to-home) {

} /* Moet ik nog bouwen in js, hier komt onderstaande code in tot aan de flower animatie keyframes*/

/* Alles naast de flower group, fade out in 1.4s*/
::view-transition-new(root),
::view-transition-old(root) {
    animation-duration: 0.1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
}

/* De flower-group een z-index meegeven zodat deze boven alles staat*/
::view-transition-group(flower){
    z-index: 1000;
}

::view-transition-new(flower),
::view-transition-old(flower){
    animation-duration: 0.8s;
    animation-fill-mode: both;
    animation-name: flower-rotate;
    animation-timing-function: ease-in;
    overflow: clip;
    object-fit: cover;
    cursor: none;
}
/* Alle groups en de duration van de animatie totaal*/
html::view-transition-group(*) {
    animation-duration: 0.8s;
    animation-fill-mode: both;
}
  
::view-transition-new(flower){
    animation-timing-function: ease-out;
}

/* ------- FLOWER ANIMATION-------- */

@keyframes flower-rotate{
  from{
    transform: scale(1);
    transform: rotate(0deg);
  }
  to{
    transform: scale(60);
    transform: rotate(360deg);
  }
} 
